<h3>¿Está seguro que desea eliminar este libro?</h3>
<form action="/libros/eliminar/{{libro.id}}" method="POST">
  <button type="submit" class="btn btn-danger">Aceptar</button>
  <a href="/libros" class="btn btn-secondary">Cancelar</a>
</form>
